{% extends '../customer/base.html' %}
{% load static %}

{% block content %}
<div class="row justify-content-center row-height">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="text-center">Add Dependents for Policy {{ policy.policy_number }}</h5>
                <hr>

                <form method="post" action="." data-form-action>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <!-- <button type="submit">Add Dependent</button> -->
                    <button type="submit" class="btn btn-success w-100" data-disabled-color="#003a37">
                        <span class="button-text">Add Dependent</span>
                        <span class="spinner" style="display: none;">
                          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        </span>
                    </button>
                </form>
                <hr>
                <h5 class="text-success">Current Dependents</h5>
                <hr>
                <ul>
                {% for dep in dependents %}
                    <li>{{ dep.name }} — {{ dep.relationship }}</li>
                {% empty %}
                    <li>No dependents added yet.</li>
                {% endfor %}
                </ul>

                <a href="{% url 'health_insurance:add_health_history' policy.id %}" class="float-start">Continue to Health History →</a>  

            </div>
        </div>
    </div>
</div>
{% endblock %}