{% extends '../customer/base.html' %}
{% load static %}

{% block content %}
<div class="row justify-content-center row-height">
    <div class="col-md-7">
        <div class="card">
            <div class="card-body">
                <h4 class="text-center">Apply for Health Insurance</h4>
                <hr>

                <form method="post" data-form-action>
                {% csrf_token %}
                {{ form.as_p }}
                <!-- <button type="submit">Continue to Dependents</button> -->
                <button type="submit" class="btn btn-success w-100" data-disabled-color="#003a37">
                    <span class="button-text">Continue to Dependents</span>
                    <span class="spinner" style="display: none;">
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    </span>
                </button>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}