{% extends '../customer/base.html' %}
{% load static %}

{% block content %}
<div class="row justify-content-center align-items-center py-4">
    <div class="col-md-7">
        <div class="card">
            <div class="card-body">

                <h5 class="text-center">Quote Summary for Policy {{ policy.policy_number }}</h5>
                <hr>

                <h5 class="text-success">Policy Details</h5>
                <hr>
                <ul>
                <li>Plan Type: {{ policy.get_plan_type_display }}</li>
                <li>Start Date: {{ policy.start_date }}</li>
                <li>End Date: {{ policy.end_date }}</li>
                <li>Premium Amount: ${{ policy.premium_amount }}</li>
                <li>Add-Ons: {{ policy.add_ons|default:"None" }}</li>
                </ul>

                <hr>
                <h5 class="text-success">Dependents</h5>
                <hr>
                {% if dependents %}
                <ul>
                    {% for dep in dependents %}
                    <li>{{ dep.name }} ({{ dep.relationship }}) - DOB: {{ dep.date_of_birth }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No dependents added.</p>
                {% endif %}

                <hr>
                <h5 class="text-success">Health History</h5>
                <hr>
                {% if health_history %}
                <p><strong>Conditions:</strong> {{ health_history.conditions|linebreaksbr|default:"None" }}</p>
                <p><strong>Medications:</strong> {{ health_history.medications|linebreaksbr|default:"None" }}</p>
                <p><strong>Allergies:</strong> {{ health_history.allergies|linebreaksbr|default:"None" }}</p>
                {% else %}
                <p>No health history provided.</p>
                {% endif %}

                <form method="post" action="{% url 'payments:make_payment' 'health' policy.id %}" data-form-action>
                    {% csrf_token %}
                    <!-- <button type="submit">Confirm and Make Payment</button> -->
                    <button type="submit" class="btn btn-success w-100" data-disabled-color="#003a37">
                        <span class="button-text">Confirm</span>
                        <span class="spinner" style="display: none;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        </span>
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}