{% extends '../customer/base.html' %}
{% load static %}

{% block content %}
<div class="row justify-content-center align-items-center py-4">
    <div class="col-md-7">
        <div class="card">
            <div class="card-body">
                <h4 class="text-center">Quote Confirmation</h4>
                <hr>

                <h5 class="text-success">Policy Summary</h5>
                <hr>
                <p><strong>Policy Number:</strong> {{ policy.policy_number }}</p>
                <p><strong>Coverage Type:</strong> {{ policy.get_coverage_type_display }}</p>
                <p><strong>Premium:</strong> ${{ policy.premium_amount }}</p>
                <p><strong>Start Date:</strong> {{ policy.start_date }}</p>
                <p><strong>End Date:</strong> {{ policy.end_date }}</p>
                <hr>
                <h5 class="text-success">Vehicle Details</h5>
                <hr>
                <p><strong>Make:</strong> {{ vehicle.make }}</p>
                <p><strong>Model:</strong> {{ vehicle.model }}</p>
                <p><strong>Year:</strong> {{ vehicle.year }}</p>
                <p><strong>VIN:</strong> {{ vehicle.vin }}</p>
                <p><strong>Estimated Value:</strong> ${{ vehicle.value }}</p>
                <p><strong>Garage Address:</strong> {{ vehicle.garage_address }}</p>

                <form action="{% url 'payments:make_payment' 'car' policy.id %}" method="post" data-form-action>
                        {% csrf_token %}
                        <!-- <button type="submit">Continue</button> -->
                        <button type="submit" class="btn btn-success w-100" data-disabled-color="#003a37">
                            <span class="button-text">Continue</span>
                            <span class="spinner" style="display: none;">
                              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            </span>
                        </button>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}